---
layout: default
---
<head>
  <link rel="stylesheet" href="/style.css" type="text/css" media="all" /> 
  <title>{{page.title}} -- a1k0n</title>
</head>
<body>
<div width=100% style="background-color: #daf2ff; text-align: center; font-size: 12pt;"><a href="/" style="color: #1d3542;">a1k0n : Andy Sloane's weblog</a></div>
<h1><a href='{{ post.url }}'>{{ page.title }}</a></h1>
{{ content }}
<hr>
<a href="/">a1k0n.net</a> &mdash; <a href="/atom.xml" class=feed><img src="/img/feed-icon-14x14.png" /> Atom feed</a><br />
</body>

