---
layout: default
---
<head>
<link rel="stylesheet" href="/style.css" type="text/css" media="all" /> 
<title>{{page.title}} -- a1k0n</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24584703-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'http://www.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  var disqus_shortname = 'a1k0n';
  var disqus_identifier = '{{ page.id }}';
  var disqus_url = 'http://a1k0n.net{{ page.url }}';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://a1k0n.disqus.com/embed.js';
    document.getElementsByTagName('head')[0].appendChild(dsq);
  })();
</script>
</head>
<body>
<div width=100% style="background-color: #daf2ff; text-align: center; font-size: 12pt;"><a href="/" style="color: #1d3542;">a1k0n : Andy Sloane's weblog</a></div>
<h1>{{ page.title }}</h1>
{{ content }}
<hr>
<a href='{{ post.url }}'>permalink</a> | 
<a href="/atom.xml" class=feed><img src="/img/feed-icon-14x14.png" /></a> | <a href="/">a1k0n.net</a><br />
<div id="disqus_thread"></div>
</body>
